.social-login
    button.socital-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github
            | Continue with Github

    button.socital-login--facebook
        span
            i.fab.fa-facebook-square
        | Continue with Facebook            