mixin videoBlock(video = {})
    .videoBlock
        a(href= routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src="file:///Users/lks/Desktop/css_sticky.mov", controls=true, type="video/mov" )
            h4.videoBlock__title=video.title
            h6.videoBlock__views=video.views
